.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin : 0px 0px 0px 30px;
}

.movieRow--listarea{
    overflow-x: hidden;
}

.movieRow--list {
    width: 9999999999px;
}

.movieRow--item{
    display: inline-block;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
}

.movieRow--item img:hover {
    transform: scale(1);
}